<footer class="bg-dark text-light py-5">
  <div class="container">
    <div class="row g-4">
      <!-- Column 1 -->
      <aside class="col-3">
        <h6 class="text-uppercase fw-bold mb-3">Section 1</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="text-light text-decoration-none">x</a></li>
          <li><a href="#" class="text-light text-decoration-none">y</a></li>
          <li><a href="#" class="text-light text-decoration-none">a</a></li>
          <li><a href="#" class="text-light text-decoration-none">t</a></li>
          <li><a href="#" class="text-light text-decoration-none">xc</a></li>
        </ul>
      </aside>

      <!-- Column 2 -->
      <aside class="col-2">
        <h6 class="text-uppercase fw-bold mb-3">Section 2</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="text-light text-decoration-none">x</a></li>
          <li><a href="#" class="text-light text-decoration-none">y</a></li>
          <li><a href="#" class="text-light text-decoration-none">a</a></li>
          <li><a href="#" class="text-light text-decoration-none">t</a></li>
          <li><a href="#" class="text-light text-decoration-none">xc</a></li>
        </ul>
      </aside>

      <!-- Column 3 -->
      <aside class="col-2">
        <h6 class="text-uppercase fw-bold mb-3">Section 3</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="text-light text-decoration-none">x</a></li>
          <li><a href="#" class="text-light text-decoration-none">y</a></li>
          <li><a href="#" class="text-light text-decoration-none">a</a></li>
          <li><a href="#" class="text-light text-decoration-none">t</a></li>
          <li><a href="#" class="text-light text-decoration-none">xc</a></li>
        </ul>
      </aside>

      <!-- Column 4 -->
      <aside class="col-2">
        <h6 class="text-uppercase fw-bold mb-3">Section 4</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="text-light text-decoration-none">x</a></li>
          <li><a href="#" class="text-light text-decoration-none">y</a></li>
          <li><a href="#" class="text-light text-decoration-none">a</a></li>
          <li><a href="#" class="text-light text-decoration-none">t</a></li>
          <li><a href="#" class="text-light text-decoration-none">xc</a></li>
        </ul>
      </aside>

      <!-- Column 5 -->
      <aside class="col-3">
        <h6 class="text-uppercase fw-bold mb-3">Section 5</h6>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="text-light text-decoration-none">x</a></li>
          <li><a href="#" class="text-light text-decoration-none">y</a></li>
          <li><a href="#" class="text-light text-decoration-none">a</a></li>
          <li><a href="#" class="text-light text-decoration-none">t</a></li>
          <li><a href="#" class="text-light text-decoration-none">xc</a></li>
        </ul>
      </aside>
    </div>
  </div>
</footer>
