<section class="container py-4">
  <div class="row g-4">
    <!-- Text / Content -->
    <aside class="col-lg-6">
      <header class="p-4">
        <h1>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste animi
          atque vero <span>reprehenderit id provident?</span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni cumque
          ea consequuntur? Fuga quam odit libero magnam illum voluptas minima
          ipsa deleniti. Aut, suscipit nobis.
        </p>
      </header>
      <footer class="p-2">
        <button class="btn btn-primary rounded-5"> lorem ipsum up !</button>
      </footer>
    </aside>

    <!-- Single 300px Image (Perfect Vertical Center) -->
    <aside class="col-lg-3 d-flex align-items-center justify-content-center">
      <figure class="m-0">
        <img
          src="holder.js/200x300?theme=gray"
          class="img-fluid rounded"
          alt="Tall Image"
        />
      </figure>
    </aside>

    <!-- Two Square Images -->
    <aside class="col-lg-3 d-flex flex-column gap-3">
      <figure class="m-0">
        <img
          src="holder.js/200x200?theme=gray"
          class="img-fluid rounded"
          alt="Square Image 1"
        />
      </figure>

      <figure class="m-0">
        <img
          src="holder.js/200x200?theme=gray"
          class="img-fluid rounded"
          alt="Square Image 2"
        />
      </figure>
    </aside>
  </div>
</section>
