<section class="container">
  <div class="row">
    <!-- Left Aside -->
    <aside class="col-6">
      <article>
        <!-- Profile Header -->
        <header class="d-flex align-items-start gap-3 mb-3">
          <figure class="m-0">
            <img src="holder.js/100x100" alt="" class="img-fluid rounded" />
          </figure>

          <div>
            <h3 class="h5 mb-1">Lorem, ipsum.</h3>
            <p class="mb-0">Lorem, ipsum dolor.</p>
          </div>
        </header>

        <!-- Star Rating -->
        <p class="m-0">★★★★☆</p>

        <!-- Title + Description -->
        <h1 class="h4 mt-3 mb-2">Lorem, ipsum dolor.</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos,
          quibusdam?
        </p>
      </article>
    </aside>

    <!-- Middle Aside -->
    <aside class="col-4">
      <article class="text-center">
        <figure class="m-0">
          <img src="holder.js/400x300" alt="" class="img-fluid rounded" />
        </figure>
      </article>
    </aside>

    <!-- Right Aside -->
    <aside class="col-2 position-relative">
      <article class="h-100 d-flex flex-column justify-content-between">
        <div class="text-end">
          <figure class="m-0">
            <img src="holder.js/200x200" alt="" class="img-fluid rounded" />
            <figcaption class="mt-2">
              <h3 class="h6 mb-0">Lorem, ipsum dolor.</h3>
            </figcaption>
          </figure>
        </div>

        <footer class="text-end">
          <button class="btn btn-primary btn-sm rounded-4 px-5">
            Click up !
          </button>
        </footer>
      </article>
    </aside>
  </div>
</section>
