<section class="bg-secondary-subtle py-2 my-2">
  <div class="container my-3">
    <div class="row">
      <div class="col-6 mx-auto">
        <article class="p-4">
          <!-- Header -->
          <header class="mb-4">
            <h2 class="h4 mb-0">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </h2>
          </header>

          <!-- Body -->
          <section class="mb-4">
            <form class="input-group">
              <input
                type="text"
                class="form-control rounded-4"
                placeholder="Enter text..."
              />

              <button class="btn btn-primary rounded-4 ms-2 px-4" type="submit">
                Lorem
              </button>
            </form>
          </section>

          <!-- Footer -->
          <footer class="pt-3">
            <p class="mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem.
            </p>
          </footer>
        </article>
      </div>
    </div>
  </div>
</section>
