<section class="container py-4">
  <!-- Top Nav -->
  <header class="mb-4">
    <nav>
      <ul class="nav justify-content-between">
        <li class="nav-item"><a class="nav-link" href="#">Left</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Center</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Right</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content Row -->
  <section class="row">
    <!-- Left Aside -->
    <aside class="col-md-8 mb-4">
      <article class="d-flex flex-column gap-3">
        <figure class="m-0">
          <img
            src="holder.js/600x500?theme=gray"
            alt="Descriptive alt text"
            class="img-fluid rounded w-100"
          />
          <figcaption class="mt-2 text-muted small">
            Lorem, ipsum dolor.
          </figcaption>
        </figure>

        <header>
          <h1 class="h4 mb-2">Lorem ipsum dolor sit amet.</h1>
          <p class="mb-1">Lorem, ipsum dolor.</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            inventore laudantium! Voluptatibus, unde! Architecto, veniam!
          </p>
        </header>
      </article>
    </aside>

    <!-- Right Aside (FIXED: Added col-md-4) -->
    <aside class="col-md-4">
      <article class="mb-4 d-flex align-items-start gap-3">
        <figure class="m-0">
          <img src="holder.js/150x150" alt="" class="img-fluid rounded" />
        </figure>
        <header>
          <p class="mb-1">Lorem, ipsum dolor.</p>
          <h1 class="h6 mb-1">Lorem ipsum dolor sit amet.</h1>
          <p class="mb-0">Lorem, ipsum dolor.</p>
        </header>
      </article>

      <article class="mb-4 d-flex align-items-start gap-3">
        <figure class="m-0">
          <img src="holder.js/150x150" alt="" class="img-fluid rounded" />
        </figure>
        <header>
          <p class="mb-1">Lorem, ipsum dolor.</p>
          <h1 class="h6 mb-1">Lorem ipsum dolor sit amet.</h1>
          <p class="mb-0">Lorem, ipsum dolor.</p>
        </header>
      </article>

      <article class="mb-4 d-flex align-items-start gap-3">
        <figure class="m-0">
          <img src="holder.js/150x150" alt="" class="img-fluid rounded" />
        </figure>
        <header>
          <p class="mb-1">Lorem, ipsum dolor.</p>
          <h1 class="h6 mb-1">Lorem ipsum dolor sit amet.</h1>
          <p class="mb-0">Lorem, ipsum dolor.</p>
        </header>
      </article>

      <article class="mb-4 d-flex align-items-start gap-3">
        <figure class="m-0">
          <img src="holder.js/150x150" alt="" class="img-fluid rounded" />
        </figure>
        <header>
          <p class="mb-1">Lorem, ipsum dolor.</p>
          <h1 class="h6 mb-1">Lorem ipsum dolor sit amet.</h1>
          <p class="mb-0">Lorem, ipsum dolor.</p>
        </header>
      </article>
    </aside>
  </section>
</section>
