---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <slot />
  </body>
</html>
<script src="node_modules/holderjs/holder.min.js" defer></script>
<script type="module" src="/src/assets/main.js"></script>
